<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="dome">
        <visual>
            <geometry>
                <mesh filename="package://r2_description/meshes/dome/base_dome.obj" scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://r2_description/meshes/dome/base_dome.obj" scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
        <xacro:inertial_sphere mass="1" radius="${dome_radius}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>
    </link>

    <xacro:property name="pp1_angle" value="${radians(150)}" />
    <joint name="pp1_joint" type="revolute">
        <parent link="dome" />
        <child link="pp1" />
        <origin xyz="-0.114748 0.225099 0.06625" rpy="0 ${sin(pp1_angle)} 0" />
        <axis xyz="0 0 1" />
        <limit lower="0" upper="${radians(90)}" effort="100" velocity="100" />
    </joint>

    <link name="pp1">
        <visual>
            <origin xyz="0 0 0" rpy="0 ${-sin(pp1_angle)} 0" />
            <geometry>
                <mesh filename="package://r2_description/meshes/dome/PP1.obj" scale="0.01 0.01 0.01" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 ${-sin(pp1_angle)} 0" />
            <geometry>
                <mesh filename="package://r2_description/meshes/dome/PP1.obj" scale="0.01 0.01 0.01" />
            </geometry>
        </collision>
        <xacro:inertial_sphere mass="1" radius="${dome_radius}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>
    </link>

</robot>